*{
    box-sizing: border-box;
} 

body, html{
    margin:0;
    padding: 0;
}


.flex-container{
    display: flex;
    height:100%;
    flex-direction: row; 
    align-content:flex-start;
}

.flex-item{
    margin:1%;
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.grid-container{
    height: 100%;
    border: 3px solid red;
    background-color: #8e4444;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 45% 10% 30% 5%;
}

.header-grid{
    background-color: rgb(198, 198, 255);
    grid-column: 1/span 3;
    grid-row: 1;
}

.footer-grid{
    background-color: rgb(198, 198, 225);
    grid-column: 1/span 3;
    grid-row: 5;
    justify-content: center;
    align-content: center;
}

.second-grid{
    background-color: rgb(170, 87, 46);
    grid-column: 1/span 3;
    grid-row: 2;
}

.third-grid{
    background-color: rgb(26, 26, 62);
    grid-column: 1/span 3;
    grid-row: 3;
}
.fifth-grid{
    background-color: rgb(228, 224, 224);
    grid-column: 1/span 3;
    grid-row: 4;
}

.fourth-grid{
    background-color: rgb(255, 255, 255);
    grid-column: 1/span 3;
    grid-row: 4;
}

.text{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    box-sizing: content-box;
    margin: 10px;
}
.right{
    align-content: center;
    float:right;
}

.left{
    float: left;
    align-content: center;

}
.title{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    justify-content:center;
    text-align: center;
    padding-top: 10%;
}
.button{
    color:white;
    background-color: rgb(43, 43, 60);
    padding:10px 0; 
    margin: 5px;
    width: 68px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

.buttoncon{
    color:white;
    background-color: rgb(36, 36, 61);
    padding:1%;
    width: 60%; 
    margin: 1px;
    flex-direction: row;
    position: relative;
    height:100%;
}
#buttonsub{
    color:white;
    background-color: rgb(43, 43, 60);
    padding:10px 0; 
    margin: 5px;
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.simple{
    color:white;
    background-color: rgb(126, 126, 154);
    padding:1px;
    padding-left: 2%;
    margin: 1px;
    width:150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

#email{
    background-color: white;
    color: rgb(80, 78, 78);
    width:60;
}

 .imagesize{
    height: 100px;
    width:100px;
} 

